# GRUB boot configuration for __PROJECT_NAME__ auto-install
insmod gfxterm
insmod png
set gfxmode=1024x768,auto
terminal_output gfxterm
background_image /boot/grub/splash.png

set default=0
set timeout=5

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Autoinstallation Ubuntu Server __PROJECT_NAME__" {
    set gfxpayload=keep
    linux /casper/vmlinuz autoinstall "ds=nocloud;s=/cdrom/autoinstall/" debug --- autoinstall
    initrd /casper/initrd
}
